<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Black+And+White+Picture" rel="stylesheet">
    <title>El duque de l’Omelette</title>
</head>
<body>
    <div class="contenedor">
            <div class="dashboard">
                    <div class="cabecera">
                        <h1>Edgar Allan Poe</h1>
                    </div>
                    <div class="menu">
                        <ul>
                            <li><a href="/">Inicio</a></li> <hr>
                            <li><a href="/views/resenia-duque-omelet.html">El duque de l’Omelette</a></li> <hr>
                            <li><a href="/views/cuatro-bestias-en-una.html">Cuatro bestias en una</a></li> <hr>
                            <li><a href="/views/autobiografia-literaria-de-thingum-bob.html">Autobiografía literaria de Thingum Bob, Esq.</a></li> <hr>
                            <li><a href="/views/como-escribir-un-articulo-ala-manera-del-blackwood.html">Cómo escribir un artículo a la manera del Blackwood</a></li> <hr>
                            <li><a href="/views/una-malaventura.html">Una malaventura</a></li>
                            </ul>
                    </div>
            </div>
        <div class="contenido-principal">
            <em><h2>El duque de l’Omelette</h2></em>
            
            <p class="inicio">
                <em>Y pasó al punto a un clima más fresco.</em> 
                (COWPER) 
            </p>
            <p>
                Keats  sucumbió  a  una  crítica.  ¿Quién  murió  de  una  
                <em>Andrómaca?</em>.¡Almas  innobles! El duque de l’Omelette 
                pereció de un verderón L’historie en est brève. 
                ¡Ayúdame, espíritu de Apicio! 
            </p>
            <p>
                Una  jaula  de  oro  llevó  al
                pequeño  vagabundo  alado,  enamor
                ado,  derretido,  indolente,  
                desde su hogar en el lejano Perú a la Chaussée 
                d’Antin; de su regia dueña, La Bellísima, al 
                duque de l’Omelette; y seis pares del re
                ino transportaron el dichoso pájaro. 
            </p>
            <p>
                Aquella noche el duque debía cen
                ar a solas. En la intimidad de su despacho reclinábase 
                lánguidamente sobre aquella otomana por la cual
                había sacrificado su Lealtad al pujar más 
                que su rey en la subasta... la famosa otomana de Cadêt. 
            </p>
            <p>
                El  duque  hunde  el  rostro  en  la  almohada.  ¡S
                uena  el  reloj!  Incapaz  de  contener  sus  
                sentimientos,  su  Gracia  come  una  aceituna.  En  
                ese  instante  ábrese  la  puerta  a  los  dulces  
                sones de una música y, ¡oh maravilla!, el más 
                delicado de los pájaros 
                aparece ante el más 
                enamorado de los hombres. Pero, ¿qué inexpresab
                le espanto se difunde en las facciones del 
                duque? 
                «Horreur! -chien! -Baptiste! -l’oiseau! a
                h, bon Dieu! cet oiseau modeste que tu as 
                deshabillé de ses plumes, et que tu as servi sans papier!» 
                Seria superfluo agregar nada: el 
                duque expira en un paroxismo de asco. 
            </p>
            <p>
                —¡Ja, ja, ja! —dijo su Gracia, tres días después de su fallecimiento. 
            </p>
            <p>
                —¡Je, je, je! —repuso suavemente el diablo, enderezándose con un aire de hauteur.
            </p>
            <p>
                —Vamos,  supongo  que  esto  no  es  en  serio  —observó  de  l’Omelette—.  He  pecado,  
                c’est vrai, pero, querido señor... ¡supongo que no tendrá la intención de llevar a la práctica tan bárbaras amenazas! 
            </p>
            <p>
                —¿Tan qué? -dijo su Majestad—. ¡Vamos, señor, desnúdese! 
            </p>
            <p>
                —¿Desnudarme?  ¡Muy  bonito  en  verdad!  ¡N
                o,  señor,  no  me  desnudaré!  ¿Quién  es  
                usted para que yo, duque de l’Omelette, príncipe de Foie-Gras, apenas mayor de edad, autor 
                de  la  
                Mazurquiada
                y  miembro  de  la  Academia,  tenga
                que  quitarme  obedientemente  los  
                mejores pantalones jamás cortados por Bourdon, la más bonita 
                robe  de  chambre  
                salida  de  
                manos de Rombêrt, por no decir nada de los 
                papillotes y 
                para no mencionar la molestia que 
                me representaría quitarme los guantes? 
            </p>
            <p>
                —¿Que  quién  soy?  ¡Ah,  es  verdad!  Soy  Baal-Zebub,  príncipe  de  la  Mosca.  Acabo  de  
                sacarte de un ataúd de palo de rosa incrusta
                do de marfil. Estabas ex
                trañamente perfumado y 
                tenías  una  etiqueta  como  si  te  hubieran  f
                acturado.  Te  mandaba  Belia
                l,  mi  inspector  de  
                cementerios. En cuanto a esos pantalones que dices cortados por Bourdon, son un excelente 
                par  de  calzoncillo
                s  de  lino,  y  tu  
                robe  de  chambre  
                es  una  mortaja  de  no  pequeñas  
                dimensiones. 
            </p>
            <p>
                —¡Caballero —replicó el duque—, no me dejo insultar impunemente! ¡Aprovecharé la 
                primera oportunidad para vengarme de esta afrent
                a! ¡Oirá usted hablar 
                de mí! ¡Entretanto... 
                au revoir!
            </p>
            <p>
                Y  el  duque  se  inclinaba,  antes  de  apartars
                e  de  la  satánica  presencia,  cuando  se  vio  
                interrumpido y devuelto a su sitio por un guardián. En vista de ello, su
                Gracia se frotó los 
                ojos,  bostezó,  encogióse  de  hombros  y  refl
                exionó.  Luego  de  quedar  
                satisfecho  sobre  su  
                identidad, echó una mirada a vuelo de pájaro sobre los alrededores. 
            </p>
            <p>
                El  aposento  era  soberbio  a  un  punto  
                tal,  que  de  l’Omelette  lo  declaró  
                bien  comme  il  
                faut. 
                No  tanto  por  su  largo  o  su  ancho,  sino  por  
                su  altura...  ¡ah,  qué  espantosa  altura!  No  
                había techo... ciertamente no lo había... Sola
                mente una densa masa atorbellinada de nubes 
                de  color  de  fuego.  Su  Gracia  sintió  que  la  
                cabeza  le  daba  vueltas  al  mirar  hacia  arriba.  
                Desde  lo  alto  colgaba  una  cadena  de  un  me
                tal  desconocido  de  color  rojo  sangre;  su  
                extremidad superior se perd
                ía, como la ciudad de Boston, 
                parmi les nuages. 
                En su extremo 
                inferior  se  balanceaba  un  enorme  fanal.  El
                duque  comprendió  que  se
                trataba  de  un  rubí;  
                pero de ese rubí emanaba una luz tan intensa, 
                tan fija, como jamás fue adorada en Persia, o 
                imaginada  por  Gheber,  o  soñada  por  un  musulmán  cuando,  intoxicado  de  opio,  cae  
                tambaleándose  en  un  lecho  de  amapolas,  la  espalda  contra  las  flores  y  el  rostro  vuelto  al  
                dios Apolo. El duque murmuró un suave 
                juramento, decididamente aprobatorio. 
            </p>
            <p>
                Los  ángulos  del  aposento  se  curvaban  fo
                rmando  nichos.  Tres  de  ellos  aparecían  
                ocupados   por   estatuas   de   proporciones   giga
                ntescas.   Su   hermosura   era   griega,   su   
                deformación  egipcia,  su  
                tout  ensemble  
                francés.  En  el  cuarto  nicho,  la  estatua  aparecía  
                velada  y  no  era  colosal.  Veíase  empero  un  tobillo  ahusado,  un  pie  con  sandalia.  De  
                l’Omelette  llevó  su  mano  al  corazón,  cerró  lo
                s  ojos,  volvió  a  abrirlos  y  sorprendió  a  su  
                satánica majestad... cuando se sonrojaba. 
            </p>
            <p>
                ¡Pero aquellas pinturas! ¡Kupris! 
                ¡Astarté! ¡Astoreth! ¡Mil y la
                misma! ¡Y Rafael las ha 
                contemplado!  Sí,  Rafael  estuvo  aquí:  ¿acaso  
                no  pintó  la...?  ¿Y  no  se  condenó  a  causa  de  
                ello?  ¡Las  pinturas,  
                las  pinturas!  ¡Oh  lujo,  oh  amo
                r!  ¿Quién,  contemplando  aquellas  
                bellezas  prohibidas,  tendría  ojos  para  las  exquisitas  obras  que,  en  sus  marcos  de  oro,  
                salpican como estrellas las pa
                redes de jacinto y de pórfido? 
            </p>
            <p>
                Empero, el corazón del duque desfallece. No 
                se siente, como lo suponéis, marcado por 
                la  magnificencia,  ni  embriagado  por  el  inte
                nso  perfume  de  los  innum
                erables  incensarios.  
                C’est vrai que de toutes ces choses il a pensé beaucoup-mais! 
                El duque de l’Omelette está 
                aterrado. ¡A través de la cárdena visión que le of
                rece la sola ventana sin cortinas se divisa el 
                más espantoso de los fuegos! 
            </p>
            <p>
                Le  pauvre  Duc!  
                No  podía  impedirse  imaginar  que  la
                s  admirables,  la
                s  voluptuosas,  las  
                inmortales  melodías  que  invadían  aquel  
                salón,  a  medida  que  pasaban  filtrándose  y  
                trasmutándose por la alquimia de las encantada
                s ventanas, eran los ge
                midos  y  los  alaridos  
                de los condenados sin esperanza. 
                ¡Y allí, allí, sobre la otomana!
                ¿Quién está ahí? ¡Es él, el 
                petit-maître... 
                no, la Deidad... sentado como si 
                estuviera esculpido en mármol, 
                et qui sourit, 
                con su pálido rostro, 
                si amèrement!
            </p>
            <p>
                Mais il faut agir... 
                vale decir que un francés no se 
                desmaya nunca de golpe. Además, a 
                su  Gracia  le  repugna  una  escena
                ...  De  l’Omelette  ha  recobrado  todo  su  dominio.  Ha  visto  
                unos floretes sobre la mesa y unas daga
                s. El duque ha estudiado con B...; 
                il avait tué ses six 
                hommes. 
                Por lo tanto, 
                il peut s’échapper. 
                Mide dos armas y, con inimitable gracia, ofrece la 
                elección a su Majestad. 
                Horreur! 
                ¡Su Majestad no sabe esgrima! 
            </p>
            <p>
                Mais il joue! 
                ¡Feliz idea! Su Gracia 
                tuvo siempre una excelente memoria. Alguna vez 
                hojeó 
                Le  Diable,  
                del  abate  Gualtier.  Allí  se  dice  que  
                le  Diable  n’ose  pas  refuser  un  jeu  d’écarté.
            </p>
            <p>
                ¡Pero  las  probabilidades...  las  probabilidades!  Remotísimas,  desesperadas,  es  verdad;  
                empero,  apenas  más  desesperadas  que  el  duque  mismo.  Además,  ¿no  está  en  el  secreto?  
                ¿No ha leído al Père Le Brun? ¿N
                o era miembro del Club Vingt-et-un? 
                Si je perds —dice—
                je serai deux fois perdu... 
                quedaré dos veces condenado... 
                voilà tout! 
                (Y aquí su Gracia se 
                encogió  de  hombros.)  
                <em>Si  je  gagne,  je  reviendrai  à  mes  ortolons...  que  les  cartes  soient préparées!</em> 
            </p>
            <p>
                Su Gracia era todo cuidado, todo atención; su 
                Majestad, todo confianza. Un espectador 
                hubiera pensado en Francisco y en Carlos. Su 
                Gracia pensaba en su juego. Su Majestad no 
                pensaba: barajaba. El duque cortó. 
            </p>
            <p>
                Distribuyéronse las cartas. Diose vuelta la pr
                imera. ¡El rey! ¡Pero no... era la reina! Su 
                Majestad maldijo sus vestimentas masculinas. 
                De l’Omelette se llevó la mano al corazón. 
                Jugaron. El duque contaba. Había terminado 
                la mano. Su Majestad contaba lentamente, 
                sonriendo, bebiendo vino. El 
                duque escamoteó una carta. 
            </p>
            <p>
                <em>—C’est  à  vous  de  faire</em>  
                —dijo  su  Majestad, cortando. Su Gracia se inclinó, barajó las cartas y levantóse<em>en presentant le Roi.</em>
            </p>
            <p>
                Su Majestad pareció apesadumbrado.
            </p>
            <p>
                Si  Alejandro  no  hubiese  sido  Alejandro,  hubiera  querido  ser  Diógenes,  y  el  duque aseguró  a  su  antagonista,  mientras  se  despedía  de  él,  
                <em>que  s’il  n’eût  été  de  l’Omelette il n’aurait point d’objection d’être le Diable.</em> 
            </p>

            <div class="terminos">
                <hr>
                <h2>Lista de Terminos</h2>
                <ul>
                    <li>Termino 1</li>
                    <li>Termino 2</li>
                    <li>Termino N</li>
                </ul>
            </div>
              
            <div class="critica">
                <hr>
                <h2>Critica</h2>
                <p>....</p>
            </div>
            
            <div id="disqus_thread"></div>
            <script>
            
            /**
            *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://sanchezmendozajesusaldahir-github-io.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
           
        </div>
        <!--
        <div class="conclusiones">
            <h2>Analisis</h2>
            <p>The Duque de l'Omelette (1832) es un relato corto de Edgar Allan Poe. 
                Luego de morir repentinamente mientras cenaba en un hortelano, el duque de l'Omelette despierta 
                en el infierno, dentro un apartamento lleno de diversas obras de arte y con vistas al paisaje 
                infernal. Cara a cara con Satanás, y horrorizado por su situación, el duque reta al diablo a un 
                juego de cartas en el que apuesta su continuidad en el infierno. Al final de la partida termina 
                quedando bien en claro quién es el duque de l'Omelette.  </p>
        </div>
        -->
    </div>

                         
</body>
</html>