<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Black+And+White+Picture" rel="stylesheet">
    <title>Document</title>
</head>
<body>

    <div class="contenedor">
            <div class="dashboard">
                    <div class="cabecera">
                        <h1>Edgar Allan Poe</h1>
                    </div>
                    <div class="menu">
                        <ul>
                            <li><a href="views/cuentos.html">Cuentos</a></li> <hr>
                            <li><a href="/views/resenia-duque-omelet.html">El duque de l’Omelette</a></li> <hr>
                            <li><a href="/views/cuatro-bestias-en-una.html">Cuatro bestias en una</a></li> <hr>
                            <li><a href="/views/autobiografia-literaria-de-thingum-bob.html">Autobiografía literaria de Thingum Bob, Esq.</a></li> <hr>
                            <li><a href="/views/como-escribir-un-articulo-ala-manera-del-blackwood.html">Cómo escribir un artículo a la manera del Blackwood</a></li> <hr>
                            <li><a href="/views/una-malaventura.html">Una malaventura</a></li>
                            </ul>
                    </div>
            </div>
        <div class="contenido-principal">
            <h1>El Duque de L'Omelette</h1>
            <h2>Reseña</h2>
            <p>
                El Duque de L'Omelette (The Duc de l'Omelette) es un relato fantástico del escritor norteamericano 
                Edgar Allan Poe, compuesto en 1832 y publicado en la colección de historias fantásticas de 1840: 
                Cuentos de los Grotesco y lo Arabesco (Tales of the Grotesque and Arabesque). 
                Disimulado bajo una elegante capa de ironía -una de las facetas más interesantes de Edgar Allan Poe.
                El Duque de L'Omelette relata la historia de un hombre que ha muerto, y negocia con el diablo su retorno 
                al mundo de los vivos. 
            </p>
        
            <h2>Glosario</h2>
            <ul>
                <li>item1</li>
                <li>item1</li>
                <li>item1</li>
            </ul>
            <p>
                <a href="/views/el-duque-de-lomelette.html"> Ver Cuento..</a>
            </p>
            <h2>Critica </h2>
            <p>
                Pendiente...
            </p>
        </div>
    </div>
    

    <div id="disqus_thread"></div>
    <script>

    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://sanchezmendozajesusaldahir-bitbucket-io.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    
</body>
</html>