<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Black+And+White+Picture" rel="stylesheet">
    <title>Una Malaventura</title>
</head>
<body>
    <div class="contenedor">
            <div class="dashboard">
                    <div class="cabecera">
                        <h1>Edgar Allan Poe</h1>
                    </div>
                    <div class="menu">
                        <ul>
                            <li><a href="/">Inicio</a></li> <hr>
                            <li><a href="/views/resenia-duque-omelet.html">El duque de l’Omelette</a></li> <hr>
                            <li><a href="/views/cuatro-bestias-en-una.html">Cuatro bestias en una</a></li> <hr>
                            <li><a href="/views/autobiografia-literaria-de-thingum-bob.html">Autobiografía literaria de Thingum Bob, Esq.</a></li> <hr>
                            <li><a href="/views/como-escribir-un-articulo-ala-manera-del-blackwood.html">Cómo escribir un artículo a la manera del Blackwood</a></li> <hr>
                            <li><a href="/views/una-malaventura.html">Una malaventura</a></li>
                          </ul>
                    </div>
                </div>
        <div class="contenido-principal">
            <h2>Una Malaventura</h2>
            <em><h3>Continuación del relato precedente</h3></em>
            <p>
                <em>Señora, ¿qué coyuntura os ha afligido así?</em> (COMUS) 
            </p>
            <p>
                Era  una  tarde  serena  y  silenciosa cuando eché a andar por la excelente ciudad de Edina.
                Terribles eran la confusión y el movimiento en las calles. Los hombres hablaban. 
                Las   mujeres   gritaban. Los niños se atragantaban. Los cerdos silbaban. Los carros   
                resonaban. Los toros bramaban. Las vacas mugían. Los caballos relinchaban. Los  gatos maullaban. Los  perros  bailaban.  
                <em>¡Bailaban!</em> ¿Era  posible? <em>¡Bailaban!</em> ¡Ay, pensé yo, mis tiempos de baile han pasado! Siempre es así.  
                ¡Qué  legión  de  melancólicos  recuerdos despertará siempre en la mente del genio y en
                la contemplación imaginativa, especialmente la del genio condenado a la incesante, eterna, continua y, 
                como cabría decir, continuada... sí,  continuada  y  continuamente,  amarga,  angustiosa,  perturbadora,  y,  si  se  me  permite  la  
                expresión, la muy perturbadora influencia del sereno, divino, celestial, exaltador, elevador y 
                purificador  efecto  de  lo  que  cabe  denominar  la  más  envidiable,  la  más verdaderamente 
                envidiable,  ¡sí,  la  más  benignamente  hermos a!,  la  más  deliciosamente  etérea  y,  por  así  
                decirlo, la más bonita (si puedo usar una expresión tan audaz) de las cosas de este mundo! 
                ¡Perdóname,  gentil  lector,  pero  me  dejo  arrastrar  por  mis  sentimientos!  En  ese  estado  de  
                ánimo,  repito,  ¡qué  legión  de  recuerdos  se remueven  al  menor  impulso!  ¡Los  perros  
                bailaban!  ¡Y  yo  no  podía  bailar!  ¡Retozaban...  y  yo  sollozaba!  ¡Brincaban...  y  yo  gemía!  
                ¡Conmovedoras  circunstancias,  que  no  dejarán  de evocar  en  el  recuerdo  del  lector  clásico  
                aquel  exquisito  pasaje  sobre  la  justeza  de  las  cosas  que  aparece  al comienzo  del  tercer  
                volumen de la admirable y venerable novela china <em>Yo-Ke-Sé!</em>
            </p>
            <p>
                En mi solitario paseo por la ciudad me acompañaban dos humildes pero fieles amigos: Diana, 
                mi perra de lanas, la más gentil de las criaturas... Caíale un gran mechón sobre un 
                ojo  y  llevaba  una  cinta  azul  con  un lazo  a  la  moda  en  el  cuello.  
                Diana  no  medía  más  de cinco pulgadas de alto, pero su cabeza era algo más grande que el cuerpo, y su cola, que le 
                habían  cortado  demasiado  al  ras,  daba  un  aire de  inocencia  ofendida
                a  aquel  interesante animal y le ganaba las simpatías generales, 
            </p>
            <p>
                Y Pompeyo, mi negro. ¡Dulce Pompeyo! ¿Te olvidaré alguna vez? Iba yo del brazo de Pompeyo. Tenía tres pies de es
                tatura (me gusta ser precisa) y entre setenta y ochenta años 
                de edad. Tenía las piernas corvas y era corpulento. Su boca no podía considerarse pequeña, 
                ni cortas sus orejas. Pero sus dientes eran como perlas, y deliciosamente puro el blanco de 
                sus  grandes  ojos.  La  naturaleza  no  le  había otorgado  cuello,  colocando  sus  tobillos  (como  
                es  frecuente  en  dicha  raza)  hacia  la  mitad  de la  parte  superior  de  los  pies.  Vestía  con  
                notable sencillez. Sus únicas ropas consistían en una faja de nueve pulgadas y un gabán casi 
                nuevo,   que   había   pertenecido   anteriormente al   apuesto,   majestuoso   e   ilustre   doctor   
                Moneypenny.  Era  un  excelente  gabán.  Estaba  bien cortado.  Estaba  bien  cosido.  El  gabán  
                era casi nuevo. Pompeyo lo sostenía con ambas manos para que no juntara polvo. 
            </p>
            <p>
                Había tres personas en nuestro grupo y dos de ellas han sido ya motivo de comentario. 
                Queda  la  tercera...  y  esa  persona  era  yo  misma.  Soy  la  Signora  Psyche  Zenobia.  No  soy  
                Suky Snobbs. Mi aspecto es imponente. En la memorable ocasión de que hablo, hallábame 
                ataviada con un traje de satén carmesí, que tenía un mantelet arábigo de color celeste. Y el 
                vestido tenía guarnición de agraffas verdes, y los siete volantes del auricula, anaranjados. 
                Constituía yo así el tercer miembro del grupo. Estaba la perrita de aguas. Estaba Pompeyo. 
                Estaba  yo.  Éramos tres. 
                Así  es  como  se  dice  que  en  el  comienzo  sólo  había  tres  Furias:  
                Melaza, Mema y Hiede: la Meditación, la Memoria y el Violín. 
            </p>
            <p>
                Apoyándome  en  el  brazo  del  apuesto  Pompeyo,  y  seguida  a  respetuosa  distancia  por  
                Diana, recorrí  una  de  las  populosas  y  muy  agradables  calles  de  la  ya  desierta  Edina.  
                Repentinamente alzóse ante mi vista una iglesia, una catedral gótica: vasta, venerable, con 
                un  alto  campanario  que  subía  a  los  cielos.  ¿Qué  locura  se  posesionó  de  mí?  ¿Por  qué  me  
                precipité  hacia  mi  destino?  Me  sentí  dominada  por  el  incontrolable  deseo  de  escalar  el  
                vertiginoso  pináculo  y  contemplar  desde  allí la  inmensa  extensión  de  la  ciudad.  La  puerta  
                de  la  catedral  mostrábase  incitantemente  abierta.  Mi  destino  prevaleció.  Entré  bajo  la  
                ominosa  arcada.  ¿Dónde  estaba  en  ese  momento  mi  ángel  guardián,si  en  verdad  tales  
                ángeles existen? ¡Sí! ¡Angustioso monosílabo! ¡Qué mundo de misterio, y oscuro sentido, y 
                duda, e incertidumbre envuelto en esas dos letras! ¡Entré bajo la ominosa arcada! Entré y, 
                sin  que  mis auriculas anaranjadas  sufrieran  el menor  daño,  pasé  el  portal  y  emergí  en  el  
                vestíbulo,  tal  como  se  afirma  que  el  inmens o  río  Alfredo  pasaba  ileso  y  sin  mojarse  por  
                debajo del mar. 
            </p>
            <p>
                Creí  que  la  escalera  no terminaría  jamás. Girando y subiendo,  girando  y  subiendo,  
                girando  y  subiendo,  llegó  un  momento en que no pude  dejar  de  sospechar,  al  igual  que  el  
                sagaz  Pompeyo,  en  cuyo  robusto  brazo  me  apoyaba  con  toda  la  confianza  de  los  afectos  
                tempranos...;  sí, no pude  dejar  de  sospechar  que  el  extremo  de  aquella  escalera  en  espiral  
                había sido suprimido accidentalmente o a propósito. Me detuve para recobrar el aliento; y 
                en  ese  instante  ocurrió  un  accidente  tan  importante  desde  un  punto  de  vista  y  asimismo  
                metafísico,  que  no  puedo  dejar  de  mencionarlo.  Parecióme...  aunque  en  realidad  estaba  
                segura...  ¡no  podía  engañarme,  no!... que Diana, cuyos  movimientos  había  yo  observado  
                ansiosamente... y repito que no podía engañarme..., que Diana había olido una rata. 
                Llamé inmediatamente la atención de Pompeyo sobre el hecho y estuvo de acuerdo conmigo. No 
                quedaba,  pues,  ningún  lugar  a  dudas.  
                La  rata  había  sido  olida...  por Diana. ¡Cielos! ¿Olvidaré jamás la intensa excitación de aque
                l momento? ¡La rata... estaba allí... estaba en alguna parte! ¡Y Diana la había olido! Mientras que yo... no. 
                Así también se dice que el iris de  Prusia  tiene  para  ciertas  personas  un  perfume  tan  dulce  como  penetrante,  mientras  que  
                para otras es completamente inodoro. 
            </p>
            <p>
                La escalera había sido franqueada y sólo quedaban dos o tres peldaños entre nosotros y 
                la  cumbre.  Seguimos  subiendo,  hasta  que  sólo faltaba  un  peldaño.  ¡Un  peldaño,  un  solo  
                pequeño peldaño! Pero de un pequeño peldaño en la gran escalera de la vida humana, ¡qué 
                vasta suma de felicidad o miseria depende! Pensé en mí misma, luego en Pompeyo, y luego 
                en el misterioso e inexplicable destino que nos rodeaba. ¡Pensé en Pompeyo... ay, pensé en 
                el amor! Pensé en los muchos pasos en falso que había dado y que volvería a dar. Resolví 
                ser  más  cauta,  más  reservada.  Solté  el  brazo de  Pompeyo  y,  sin  su  ayuda,  ascendí  el  
                peldaño  faltante  y  gané  el  campanario.  Mi  perrita  de  aguas  me siguió  de  inmediato.  Sólo  
                Pompeyo  había  quedado  atrás.  Acerquéme  al  nacimiento  de  la  escalera  y  lo  animé  a  que  
                subiera. Tendió hacia mí la mano, pero infortunadamente se vio obligado a soltar el gabán 
                que hasta entonces había sostenido firmemente. ¿Jamás cesarán los dioses su persecución? 
            </p>
            <p>
                Caído está el gabán y uno de los pies de Pompeyo se enreda en el largo faldón que arrastra 
                en  la  escalera.  La  consecuencia  era  inevitable:  Pompeyo  se  tambaleó  y  cayó.  Cayó  hacia  
                adelante  y  su  maldita  cabeza  me  golpeó  en  medio  del...  del  pecho,  precipitándome  boca  
                abajo, conjuntamente con él, sobre el duro, sucio y detestable piso del campanario. Pero mi 
                venganza  fue  segura,  repentina  y  completa.  
                Aferrándolo  furiosamente  con  ambas  manos por la lanuda cabellera, le arranqué gran canti
                dad de negro, matoso y rizado elemento, que arrojé lejos de mí con todas las señales del 
                desdén. Cayó entre las cuerdas del campanario y allí permaneció. Levantóse Pompeyo sin decir 
                palabra. Pero me miró lamentablemente con sus grandes ojos y... suspiró. ¡Oh, dioses... ese su
                spiro! ¡Cómo se hundió en mi corazón! ¡Y el  cabello...  la  lana!  De  haber  podido  recogerla  la  hubiese bañado  con  mis  lágrimas  en  
                prueba  de  arrepentimiento.  Pero,  ¡ay!,  hallábase  lejos  de  mi  alcance.  Y,  mientras  se  
                balanceaba entre el cordaje de la campana, me pareció que estaba vi va. Me pareció que se 
                estremecía  de  indignación.  Así  es  como  el epicentro  Flos  Aeris, de  Java,  produce  una  
                hermosa flor cuando se la arranca de raíz. Los nativos la cuelgan del techo con una soga y 
                gozan durante años de su fragancia. 
            </p>
            <p>
                Nuestra  querella  había  terminado  y  buscamos  una  abertura  por  la  cual  contemplar  la  
                ciudad  de  Edina.  No  había  ninguna  ventana.La  única  luz  admitida  en  aquella  lúgubre  
                cámara procedía de una abertura cuadrada, de un pie de diámetro, situada a unos siete pies 
                de alto. Empero, ¿qué no emprenderá la energía del verdadero genio? Resolví encaramarme 
                hasta el agujero. Gran cantidad de ruedas, engranajes y otras maquinarias de aire cabalístico 
                aparecían junto al orificio, y através del mismo pasaba un vastago de hierro procedente de 
                la maquinaria. Entre los engranajes y la pared quedaba apenas espacio para mi cuerpo; pero 
                estaba enérgicamente decidida a perseverar. Llamé a Pompeyo. 
            </p>
            <p>
                —¿Ves  ese  orificio,  Pompeyo?  Quiero  mirar  a  través  de  él.  Te  pondrás  exactamente  
                debajo... así. Ahora, Pompeyo, estira una mano y déjame poner el pie en ella... así. Ahora la 
                otra, Pompeyo, y en esta forma me treparé a tus hombros. 
            </p>
            <p>
                Hizo todo lo que le mandaba, y descubrí que, al enderezarme, podía pasar fácilmente la 
                cabeza y el cuello por la abertura. El panorama era sublime. Nada podía ser más magnífico. 
                Apenas  si  me  detuve  un instante  para  ordenar  a Diana que  se  portara  bien  y  asegurar  a  
                Pompeyo que sería considerada y que pesaría lo menos posible sobre sus hombros. Le dije que  sería  sumamente  tierna  pa
                ra  sus  sentimientos...  ossí tendre  que  biftec.  
                Y,  luego  de cumplir así con mi fiel amigo, me entregué con gran vivacidad y entusiasmo a gozar de la 
                escena que tan gentilmente se desplegaba ante mis ojos. 
            </p>
            <p>
                Empero, no me demoraré en este tema. No describiré la ciudad de Edimburgo. Todo el mundo  ha  ido  a  la  ciudad  de  Edimburgo. 
                Todo  el  mundo  ha  ido  a  Edimburgo,  la  clásica Edina.  Me  limitaré  a  los  trascendentales  deta
                lles  de  mi  lamentable  aventura  personal.  
                Después de haber satisfecho en alguna medida mi curiosidad sobre la extensión, topografía y  apariencia  general  de  la  
                ciudad,  me  quedó  tiempo  para observar  la  iglesia  donde  me hallaba  y  la  delicada  arquitectura  del  campanario.  
                Noté  que  la  abertura  por  la  cual  había sacado  la  cabeza  era  un  orificio en  la  esfera  de  un  gigantesco
                reloj  y  que,  visto  desde  la calle,  debía  parecer  el  que  se  usa  en  los  viejos  relojes  franceses  para  darles  cuerda.  Sin  
                duda, su verdadero objeto era permitir que el en cargado del reloj sacara por allí el brazo y 
                ajustara las agujas desde adentro. Noté asimismo con sorpresa el inmenso tamaño de dichas 
                agujas,  la  mayor  de  las  cuales  no  tendría menos  de  diez  pies  de  largo  y  ocho  o  nueve  
                pulgadas  de  ancho  en  su  parte  más  cercana a  mí.  Parecían  de  un  acero  muy  sólido  y  
                sumamente afiladas. Luego de reparar en dichos detalles y otros más, dirigí nuevamente la 
                mirada  hacia  el  glorioso  panorama  que  se  extendía  allá  abajo,  y  pronto  quedé  absorta  en contemplación. 
            </p>
            <p>
                Minutos más tarde me arrancó del mismo la voz de Pompeyo, declarando que no podía 
                sostenerme  más  y  pidiéndome  que  tuviera  la gentileza  de  bajar.  Esto  me  pareció  poco  
                razonable  y  así  se  lo  dije  mediante  un  discurso  de  cierta  duración.  Replicóme  con  una  
                evidente  tergiversación  de  mis  ideas  al  respecto.  Enojéme  en  consecuencia  y  le  dije  lisa  y  
                llanamente  que  era  un  estúpido,  que  había  cometido  una ignorancia  del  elenco, que  sus  
                nociones  eran  meros insomnios  del  jueves y que  sus  palabras  apenas  valían  más  que una mona verbosa. 
                Con esto pareció convencido y reanudé mi contemplación. 
            </p>
            <p>
                Habría  pasado  media  hora  de  este  altercado,  cuando,  absorta  como  me  hallaba  en  el  
                celestial escenario ofrecido a mis ojos, me sobresaltó la sensación de algo sumamente frío 
                que  se  posaba  suavemente  en  mi  nuca.  Inútil  decir  que  me  sentí  sobremanera  alarmada.  
                Sabía  que  Pompeyo  se  hallaba  bajo  mis  pies  y  que Diana seguía  sentada  sobre  las  patas  
                traseras  en  un  rincón  del  campanario,  de  acuerdo  con  mis  instrucciones  explícitas.  ¿Qué  
                podía entonces ser? ¡Ay, no tardé en descubrirlo! Girando suavemente a un lado la cabeza, percibí  para  mi  extremo  horro
                r  que  el  enorme,  resplandeciente,  cimitarresco minutero del reloj  había  descendido  en  el  
                curso  de  su  revolución  horaria hasta  posarse  en  mi  cuello.  
                Comprendí  que  no  debía  perder  un  segundo. Me eché  hacia  atrás... pero era demasiado tarde. Imposible pasar la cabeza 
                por la boca de aquella terrible trampa en la que había caído tan  desprevenidamente,  y  que  se  hacía  má
                s  y  más  angosta  con  una  rapidez  demasiado horrenda para ser concebida. La agonía de aquellos instantes no puede imaginarse. 
                Alcé las manos,  luchando  con  todas  mis  fuerzas  para  levantar  aquella  pesadísima  barra  de  hierro.  
                Hubiera  sido  lo  mismo  tratar  de  alzar  la  catedral.  Más,  más  y  más  bajaba,  cada  vez  más  
                cerca, más cerca. Grité para que Pompeyo me auxiliara, pero me contestó que había herido 
                sus sentimientos al llamarlo un ignorante verboso. Clamé el nombre de Diana, que sólo me 
                contestó  «bow-bow-bow»,  agregando  que  le  había  mandado  que  no  se  saliera  del  rincón.  
                No tenía, pues, que esperar socorro de mis compañeros. 
            </p>
            <p>
                Entretanto  la  pesada  y terrífica  guadaña  del  tiempo (pues  ahora  descubría  el  valor  
                literal  de  la  clásica  frase)  no  se  había  detenido  ni  parecía  dispuesta  a  hacerlo.  Continuaba  
                bajando más y más. Había ya hundido su filoso borde en mi cuello, penetrando más de una 
                pulgada, y mis sensaciones se tornaron indistintas y confusas. En un momento dado me creí 
                en  Filadelfia,  con  el  majestuoso  Dr.  Moneypenny, y  en  otro  me  vi  en  el  estudio  de  Mr.  
                Blackwood, recibiendo sus impagables instrucciones. Y luego me invadió el dulce recuerdo 
                de  tiempos  pasados  y  mejores,  y  pensé  en la  época  feliz,  cuando  el  mundo  no  era  un  
                desierto, ni Pompeyo tan cruel. 
            </p>
            <p>
                El  tic-tac  de  la  máquina  me  divertía.  Digo que me  divertía, pues  mis  sensaciones bordeaban ahora la perfecta felicidad, y las 
                más triviales circunstancias me proporcionaban vivo placer. El eterno tic-tac, tic-tac, tic-tac del 
                reloj era la más melodiosa de las músicas en mis  oídos  y  llegaba  a  recordarme  las  grac
                iosas  arengas  y  sermones  del  Dr.  Ollapod.  Y luego  estaban  los  grandes  números  en  la  es
                fera  del  reloj...  ¡Cuán  inteligentes,  cuan intelectuales  parecían!  Muy  pronto  empezaron  
                a  bailar  una  mazurca  y  me  pareció  que  el número  V  era  quien  lo  hacía más  a  mi  gusto.  No  cabía  duda
                de  que  era  una  dama  bien educada.  Nada  de  fanfarronería,  nada  de  indelicado  en  sus  movimientos.  Hacía  la  pirueta  
                admirablemente,  girando  como  un  torbellino  sobre  su  eje.  Me  esforcé  por  alcanzarle  una  
                silla,  pues  parecía  fatigada  por  el  esfuerzo...  y sólo  entonces  recobré  la  conciencia  de  mi  
                lamentable  situación.  ¡Oh,  cuán  lamentable!  La aguja  se  había  introducido  dos  pulgadas  
                más  en  mi  cuello.  Nació  en  mí  una  sensación  de  dolor  exquisito.  
                Rogué  que  la  muerte llegara  y  en  la  agonía  de  aquel  momento  no  pude  impedirme  repetir  aquellos  admirables versos del poeta Miguel de Cervantes:  
            </p>
            <p class="pendiente...">
                Vanny Buren, tan escondida  
                Query no te senty venny  
                Pork and pleasure delly morry  
                Nommy, torny, darry, widdy!
            </p>
            <p>
                Pero ya un nuevo horror se presentaba, capaz de conmover los nervios más templados. 
                A  causa  de  la  cruel  presión  de la  máquina,  mis  ojos  se  estaban  saliendo  de  las  órbitas.  
                Mientras pensaba cómo podría arreglármelas sin su ayuda, uno de ellos saltó de mi cabeza 
                y,  rodando  por  el  empinado  frente  del  campana rio,  se  alojó  en  un  caño  de  desagüe  que  
                corría por el alero del edificio. 
                La pérdida del ojo no fue tan terrible como el insolente aire de independencia y desprecio con que me siguió mirando cuando 
                estuvo fuera. Allí estaba, en la canaleta, debajo de mis narices, y los aires que se daba hubieran 
                sido ridículos de no resultar  repugnantes.  Jamás  se  vieron  guiñadas  y  bizqueos  semejantes.  Esta  conducta  por  
                parte de mi ojo en la canaleta no sólo era irritante por su manifiesta insolencia y vergonzosa 
                ingratitud, sino que resultaba su mamente incómoda a causa de la simpatía siempre existente 
                entre  los  dos  ojos  de  la  cara,  por  más  alejados  que  se  hallen  uno  del  otro.  Me  veía,  pues,  
                obligada a guiñar y bizquear, me gustara o no, en exacta correspondencia con aquel objeto 
                depravado que yacía debajo de mis narices. Pero pronto me alivió la caída de mi otro ojo, el 
                cual siguió la dirección del primero (probablemente se habían puesto de acuerdo), y ambos 
                desaparecieron por la canaleta, con gran alegría de mi parte. 
            </p>
            <p>
                La aguja del reloj se hallaba ahora cuatro pulgadas y media dentro de mi cuello y sólo quedaba por cortar un pedacito de piel. 
                Mis sensaciones eran las de una perfecta felicidad, pues comprendía  que  en  pocos  minutos  a  lo  su
                mo  me  vería  libre  de  tan  desagradable situación. Y no me vi defraudada en mi expect
                ativa. Exactamente a las cinco y veinticinco de la tarde el pesado minutero avanzó lo suficiente en su terrible revolución para dividir el 
                trocito de cuello faltante. No lamenté ver que mi cabeza, causa de tantas preocupaciones,  
                terminaba por separarse  completamente  del  cuerpo.  Primero  rodó  por  el  frente  del  
                campanario, detúvose unos segundos en el caño de desagüe y, finalmente, se precipitó al medio de la calle. 
            </p>
            <p>
                Confieso honestamente que mis sentimientos eran ahora de lo más singulares; aún más, misteriosos,  desconcertantes  e  incomprensibles.
                Mis  sentidos  estaban  aquí  y  allá  en  el mismo momento. Con la cabeza imaginaba en un momento dado que yo, la cabeza, era la 
                verdadera Signora Psyche Zenobia; pero en seguida me convencía de que yo, el cuerpo, era 
                la  persona  antedicha.  Para  aclarar  mis  ideas al  respecto  tanteé en mi  bolsillo  buscando  mi  
                cajita de rapé, pero al encontrarla y tratar de llevarme una pizca de su grato contenido a la 
                parte habitual de mi persona, advertí inmediatamente la falta de la misma y arrojé la caja a 
                mi  cabeza,  la  cual  tomó  un  polvo  con  gran  satisfacción  y  me  dirigió  una  sonrisa  de  
                reconocimiento.  Poco  más  tarde,  se  puso  a  hablarme,  pero  como  me  faltaban  los  oídos  
                escuché muy mal lo que me decía. Alcancé acomprender lo suficiente, sin embargo, para 
                darme  cuenta  de  que  la  cabeza  estaba  sumamente  extrañada  de  que  yo  deseara  seguir  
                viviendo bajo tales circunstancias. En sus frases finales citó las nobles palabras de Ariosto: 
            </p>
            <p>
                <em>Il pover hommy che non sera corty Andaba combattendo y erry morty</em>
            </p>
            <p>
                comparándome así con el héroe que, en el calor del combate, no se daba cuenta de que 
                ya estaba muerto y seguía luchando con inextinguible valor. Ya nada me impedía descender 
                de mi elevación, y así lo hice. Jamás he podido saber qué vio de particular Pompeyo en mi 
                apariencia. Abrió la boca de oreja a oreja y cerró los ojos como si quisiera partir nueces con 
                los párpados. Finalmente, arrojando su gabán, dio un salto hasta la escalera y desapareció. 
                Vociferé tras del villano aquellas vehementes palabras de Demóstenes: 
            </p>
            <p>
                Andrew O’Phlegethon, qué pálido que estás
            </p>
            <p>
                y me volví hacia la muy querida de mi corazón, la del único ojo a la vista, la lanudísima 
                «Diana». ¡Ay! ¿Qué horrible visión me esperaba? ¿Vi realmente a una rata que se volvía a su  cueva?  ¿Y  eran  estos  huesos  los  del  desd
                ichado  angelillo,  cruelmente  devorado por el monstruo?  ¡Oh  dioses!  ¡Qué  contemplo! ¿Es ése 
                el  espíritu,  la  sombra,  el  fantasma  de  mi amada perrita, que diviso allí sentado en el 
                rincón con melancólica gracia? ¡Escuchad, pues habla y, cielos... habla en el alemán de Schiller!: 
            </p>
            <p>
                Unt stubby duk, so stubby dun  
                Duk she! Duk she!  
            </p>
            <p>
                ¡Ay! ¡Cuan verdaderas sus palabras!
            </p>
            <p>
                Y si he muerto, al menos he muerto  
                Por ti... por ti.
            </p>
            <p>
                ¡Dulce  criatura!  ¡También  ella  se  ha  sacrificado  por  mí!  Sin  perra,  sin  negro,  sin  
                cabeza, ¿qué queda ahora de la infeliz Signora Psyche Zenobia? ¡Ay, nada! 
                He terminado. 
            </p>
        </div>
        
    </div>


    <div id="disqus_thread"></div>
    <script>

    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://sanchezmendozajesusaldahir-bitbucket-io.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    
</body>
</html>